body {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'proxima-nova', sans-serif;
}

.MashUpAppTitle {
  padding: 1px 10px;
  background: black;
  color: white;
  width:205px;
}

.door{
	cursor:pointer;
}

.door:hover .fa-door-open:before{
  content:"\f52a";
  color:white
}

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.Library {
  padding-left: 235px;
  margin-top: -70px;
  font-size: 20px;
  font-weight: bold;
  height:5%;
}

.playlists {
  padding-left: 235px;
  padding-top: 10px;
  font-size: 16px;
  height: 40%;
}

.videos {
  padding-left: 235px;
  font-size: 16px;
  height: 30%
}

.register {
  padding-left: 235px;
  position: absolute; 
  bottom: 20px;
}

.register input[type=text] {
  padding: 6px;
  margin-left:5px;
  width: 850px;
  font-size: 15px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'proxima-nova', sans-serif;
}

.registerSite:hover{
  color:#0066cc;
}

.newPlaylist {
  margin-left:820px;
}

.newPlaylist:hover{
  color: #e17800;
}

.delete {
  margin-left:870px;	
}

.delete:hover{
  color: #e17800;
}

.mark {
  margin-left: 10px;
}

.mark:hover{
  color:#0066cc; 
}

.switchToAdmin {
  font-size: 18px; 
  position: absolute; 
  bottom: 70px; 
  margin-left: -100px; 
  margin-bottom: 3px;
}

.switchToAdmin:hover{
  color:#0066cc;
}

.switchToUser {
  font-size: 18px; 
  position: absolute; 
  bottom: 70px; 
  margin-left: -200px; 
  margin-bottom: 3px;
}

.switchToUser:hover{
	color:#944f00;
}

.switchToRegister {
  font-size: 16px;
  margin-top:-10px;
  width:225px;
}

.switchToRegister:hover{
  color:#0066cc;
}

.switchToUserMyLibrary {
  font-size: 16px;
  width: 225px;
  margin-top: 20px;
}

.switchToUserMyLibrary:hover{
  color:#944f00;
}

.switchToAdminMyLibrary{
  font-size: 16px;
  width: 225px;
  margin-top: 20px;
}

.switchToAdminMyLibrary:hover{
  color:#0066cc;
}

.switchToVideos {
  font-size: 16px;
  margin-top:-10px;
  width:225px;
}

.switchToVideos:hover{
  color:#944f00;
}

.searchUserButton {
  background-color: inherit;
  border: none; 
  color: white;
  padding: 4px 8px;
  font-size: 16px; 
  cursor: pointer;
}

.searchUserButton:hover {
  color: #944f00;
}

.searchAdminButton {
  background-color: inherit;
  border: none; 
  color: white;
  padding: 4px 8px;
  font-size: 16px; 
  cursor: pointer;
}

.searchAdminButton:hover {
  color: #0066cc;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 225px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 6; /* Stay at the top */
  left: 0;
  background-color: #000000;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Style the search box inside the navigation bar */
.sidenav input[type=text] {
  padding: 6px;
  margin-left:10px;
  width: 155px;
  font-size: 13px;
}
