body {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'proxima-nova', sans-serif;
}

.MashUpAppTitle {
  padding: 1px 10px;
  background: black;
  color: white;
  width:225px;
}

.door{
  cursor:pointer;
}

.door:hover .fa-door-open:before{
  content:"\f52a";
  color:white
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.grid-container {
  display:grid; 
  grid-template-columns: 240px 240px 240px 240px;
  grid-template-rows: 250px 250px 250px 250px;
}

.Library {
  padding-left: 235px;
  margin-top: -10px;
  font-size: 20px;
  font-weight: bold;
  height:5%;
}

.playlists {
  padding-left: 235px;
  padding-top: 10px;
  font-size: 16px;
  height: 40%;
}

.videos {
  padding-left: 235px;
  font-size: 16px;
}

.register {
  padding-left: 235px;
  position: absolute; 
  bottom: 20px;
}

.register input[type=text] {
  padding: 6px;
  margin-left:5px;
  width: 850px;
  font-size: 15px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'proxima-nova', sans-serif;
}

.registerSite {
  font-size:18px;
}

.registerSite:hover{
  color:#0066cc;
}

.newPlaylist {
  float:right;
  border: none;
  background-color: inherit;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'proxima-nova', sans-serif;
  margin-top:-11px;
}

.newPlaylist:hover{
  color: #e17800;
}

.newVideo {
  margin-left:1125px;
}

.newVideo:hover{
  color: #e17800;
}

.delete {
  margin-left:870px;	
}

.delete:hover{
  color: #e17800;
}

.mark {
  margin-left: 10px;
}

.mark:hover{
  color:#0066cc; 
}

.switchToAdmin {
  font-size: 18px; 
  position: absolute; 
  bottom: 0; 
  margin-left: 120px; 
  margin-bottom: 3px;
}

.switchToAdmin:hover{
  color:#0066cc;
}

.switchToSearchAdmin {
  font-size: 18px; 
  position: absolute; 
  bottom: 0; 
  margin-left: -100px; 
  margin-bottom: 3px;
}

.switchToSearchAdmin:hover{
  color:#0066cc;
}

.switchToUser {
  font-size: 18px; 
  position: absolute; 
  bottom: 0; 
  margin-left:10px; 
  margin-bottom: 3px;
}

.switchToUser:hover{
	color:#944f00;
}

.switchToSearchUser {
  font-size: 18px; 
  position: absolute; 
  bottom: 0; 
  margin-left:-205px; 
  margin-bottom: 3px;
}

.switchToSearchUser:hover{
	color:#944f00;
}

.switchToRegister {
  font-size: 16px;
  margin-top:-10px;
  width:225px;
}

.switchToRegister:hover{
  color:#0066cc;
}

.switchToUserMyLibrary {
  font-size: 16px;
  width: 225px;
  margin-top: 20px;
}

.switchToUserMyLibrary:hover{
  color:#944f00;
}

.switchToSearchMyLibrary {
  font-size: 16px;
  width: 225px;
  margin-top: -10px;
}

.switchToSearchMyLibrary:hover {
  color:#009933
}

.switchToAdminMyLibrary{
  font-size: 16px;
  width: 225px;
  margin-top: 20px;
}

.switchToAdminMyLibrary:hover{
  color:#0066cc;
}

.switchToVideos {
  font-size: 16px;
  margin-top:-10px;
  width:225px;
}

.switchToVideos:hover{
  color:#944f00;
}

.switchToSearchVideos {
  font-size: 16px;
  margin-top:-5px;
  width:225px;
}

.switchToSearchVideos:hover{
  color:#009933
}

.searchUserButton {
  background-color: inherit;
  border: none; 
  color: white;
  padding: 4px 8px;
  font-size: 16px; 
  cursor: pointer;
}

.searchUserButton:hover {
  color: #009933;
}

.searchFunctionButton {
  background-color: inherit;
  border: none; 
  color: white;
  padding: 4px 8px;
  font-size: 16px; 
  cursor: pointer;
  width:225px;
  
}

.searchFunctionButton:hover {
  color: #009933;
}

.formButton{
  float:right;
  margin-top:-20px;
}

.formButton:hover {
  color: #e17800;
}

.browseButton {
  float:right;
  border: none;
  background-color: inherit;
  padding: 12px 0px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'proxima-nova', sans-serif;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: -5px;
  border: none;
  background: #f1f1f1;
  font-family: 'proxima-nova', sans-serif;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 225px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #000000;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Style the search box inside the navigation bar */
.sidenav input[type=text] {
  padding: 6px;
  margin-left:10px;
  width: 155px;
  font-size: 13px;
}
